<ion-view view-title="Manage VT">
  <ion-content>
    <div class="container">
      <div class="cell-row cell-row-1">
        <div class="cell-1" ng-click="goToVtExercises()">
          <div>
            <img src="app/managevt/icons/cubes.png" class="self-icon"/>
            <div>VT exercises</div>
          </div>
        </div>
        <div class="cell-2" ng-click="goToVtTools()">
          <div>
            <img src="app/managevt/icons/tool.png" class="self-icon"/>
            <div>VT tools</div>
          </div>
        </div>
      </div>
      <div class="cell-row cell-row-2">
        <div class="cell-3" ng-click="goToOptics()">
          <div>
            <img src="app/managevt/icons/eye.png" class="self-icon"/>
            <div>Optics</div>
          </div>
        </div>
        <div class="cell-4" ng-click="goToConditions()">
          <div>
            <img src="app/managevt/icons/symptom.png" class="self-icon"/>
            <div>Conditions & symptoms</div>
          </div>
        </div>
      </div>
      <div class="cell-row cell-row-3">
        <div class="cell-5" ng-click="goToSurgery()">
          <div>
            <img src="app/managevt/icons/heart.png" class="self-icon"/>
            <div>VT and/or eye surgery</div>
          </div>
        </div>
        <div class="cell-6" ng-click="goToTips()">
          <div>
            <img src="app/managevt/icons/smile.png" class="self-icon"/>
            <div>Lifestyle tips to foster VT</div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
