<ion-view view-title="Home">
  <ion-content>
    <div class="container">
      <div class="cell-row cell-row-1">
        <div class="cell-1" ng-click="goToFavourite()">
          <div>
            <img src="app/mainmenu/icons/star.png" class="self-icon"/>
            <div>Favourites</div>
          </div>
        </div>
        <div class="cell-2" ng-click="goToManagevt()">
          <div>
            <img src="app/mainmenu/icons/eye.png" class="self-icon"/>
            <div>Manage VT</div>
          </div>
        </div>
      </div>
      <div class="cell-row cell-row-2">
        <div class="cell-3" ng-click="goToPersoStories()">
          <div>
            <img src="app/mainmenu/icons/persostories.png" class="self-icon"/>
            <div>Personal stories</div>
          </div>
        </div>
        <div class="cell-4" ng-click="goToScientific()">
          <div>
            <img src="app/mainmenu/icons/scientific.png" class="self-icon"/>
            <div>Scientific</div>
          </div>
        </div>
      </div>
      <div class="cell-row cell-row-3" ng-click="goToVtbooks()">
        <div class="cell-5">
          <div>
            <img src="app/mainmenu/icons/book.png" class="self-icon"/>
            <div>VT books</div>
          </div>
        </div>
        <div class="cell-6" ng-click="goToQa()">
          <div>
            <img src="app/mainmenu/icons/qa.png" class="self-icon"/>
            <div>Q&A</div>
          </div>
        </div>
      </div>
      <div class="cell-row cell-row-4" ng-click="goToContact()">
        <div class="cell-7">
          <div>
            <img src="app/mainmenu/icons/doctor.png" class="self-icon"/>
            <div>Doctors / Contact</div>
          </div>
        </div>
        <div class="cell-8" ng-click="goToProfile()">
          <div>
            <img src="app/mainmenu/icons/profile.png" class="self-icon"/>
            <div>Profile</div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
