<ion-view view-title="{{post.category}}">
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-plus" ng-click="options()">
    </button>
  </ion-nav-buttons>
  <ion-content>

    <div id="menupost" ng-show="menupostopen" ng-click="goToAddPost()">
      <p>Add a new post</p>
    </div>

    <div>
      <div class="post-title-bar">
        <div class="post-title">{{post.title}}</div>
        <div ng-if="identified" class="favourite-button">
          <span ng-if="isFav == false">
            <img src="app/singlepost/icons/nofavourite.png" class="normal-icon" ng-click="addToFavourites(post.id)"/>
          </span>
          <span ng-if="isFav == true">
            <img src="app/singlepost/icons/favourite.png" class="normal-icon" ng-click="deleteFromFavourites(post.id)"/>
          </span>
        </div>
      </div>

      <div ng-if="post.user.id == user.id">
        <button class="button button-positive comment-button petit-bouton" ng-click="editPost(post.id)">Edit post</button>
        <button class="button button-positive comment-button petit-bouton" ng-click="deletePost(post.id)">Delete post</button>
      </div>

      <p class="subcategory">{{post.subcategory}}</p>

      <ion-scroll direction="x">
        <div ng-show="images[0] != null">
          <p>Images</p>
          <img ng-repeat="image in images" ng-src="{{image}}" class="thumbnail" ng-click="showImages($index)"  style="width: 100px; height: 100px;">
        </div>
        <div ng-show="videos[0] != null">
          <p>Videos</p>
          <img ng-repeat="video in videos" ng-src="{{ video.replace('.mp4', '.png') }}" class="thumbnail" ng-click="playVideo($index)"  style="width: 100px; height: 100px;">
        </div>
      </ion-scroll>

      <div class="content">
        {{post.content}}
      </div>
      <div>
        <span class="little-text"><span class="writer-name">{{post.user.screenName}}</span>, le {{post.date}}</span>
      </div>

      <div class="comment-bouton-container">
        <div class="comment-container" ng-repeat="comment in comments">
          <div ng-if="identified == false">
            <div ng-if="$index == 0" class="comment-header">
              <div class="inline comment-header-text">Top comment</div>
              <div class="inline to-right">
                <div class="inline">
                  <img src="app/singlepost/icons/upvote.png" class="small-icon"/>
                </div> {{upvotes[$index]}},
                <div class="inline">
                  <img src="app/singlepost/icons/downvote.png" class="small-icon"/>
                </div> {{downvotes[$index]}}
              </div>
            </div>

            <div ng-if="$index != 0">
              <div class="inline to-right">
                <div class="inline">
                  <img src="app/singlepost/icons/upvote.png" class="small-icon"/>
                </div> {{upvotes[$index]}},
                <div class="inline">
                  <img src="app/singlepost/icons/downvote.png" class="small-icon"/>
                </div> {{downvotes[$index]}}
              </div>
            </div>
          </div>

          <div ng-if="identified == true">
            <div ng-if="$index == 0" class="comment-header">
              <div class="inline comment-header-text">Top comment</div>
              <div class="inline to-right">
                <div class="inline">
                  <img src="app/singlepost/icons/upvote.png" class="small-icon" ng-click="upvoteComment(comment.id, $index)"/>
                </div> {{upvotes[$index]}},
                <div class="inline">
                  <img src="app/singlepost/icons/downvote.png" class="small-icon" ng-click="downvoteComment(comment.id, $index)"/>
                </div> {{downvotes[$index]}}
              </div>
            </div>

            <div ng-if="$index != 0">
              <div class="inline to-right">
                <div class="inline">
                  <img src="app/singlepost/icons/upvote.png" class="small-icon" ng-click="upvoteComment(comment.id, $index)"/>
                </div> {{upvotes[$index]}},
                <div class="inline">
                  <img src="app/singlepost/icons/downvote.png" class="small-icon" ng-click="downvoteComment(comment.id, $index)"/>
                </div> {{downvotes[$index]}}
              </div>
            </div>
          </div>

          <div class="comment-left-padding">
            {{comment.text}}
          </div>
          <div>
            <span class="little-text comment-left-padding"><span class="writer-name">{{comment.user.screenName}}</span>, le {{comment.date}}</span>
          </div>

          <div ng-if="comment.user.id == user.id">
            <div ng-show="editcommentclose[$index]">
              <button class="button button-positive comment-button petit-bouton" ng-click="openEditComment($index)">Edit</button>
              <button class="button button-positive comment-button petit-bouton" ng-click="deleteComment(comment.id)">Delete</button>
            </div>

            <form ng-show="editcommentopen[$index]" ng-submit="editComment(comment.id)">
              <div class="list">
                <label class="item item-input">
                  <textarea rows="5" ng-model="editCommentData.content"></textarea>
                </label>
                <button class="button button-positive comment-button" type="submit">Edit comment</button>
                <button type="button" class="button button-positive comment-button" ng-click="closeEditComment($index)">Cancel</button>
              </div>
            </form>
          </div>
        </div>

        <div ng-if="identified">
          <div class="text-center button button-block button-positive" ng-hide="commentopen" ng-click="openComment()">Add new comment</div>

          <form ng-show="commentopen" ng-submit="postComment(post.id)">
            <div class="list">
              <label class="item item-input">
                <textarea rows="5" ng-model="commentData.content"></textarea>
              </label>
              <button class="button button-positive comment-button" type="submit">Post comment</button>
              <button type="button" ng-show="commentopen" class="button button-positive comment-button" ng-click="closeComment()">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
