<ion-view view-title="Add new post">
  <ion-content>
    <form ng-submit="createNewPost()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Category</span>
          <select ng-init="postData.category = postData.category || fromCategory" ng-model="postData.category" ng-change="updateSubcategories()" class="no-decoration">
            <option ng-repeat="category in categories" value="{{category.value}}">{{category.name}}</option>
          </select>
        </label>
        <label class="item item-input">
          <span class="input-label">Subcategory</span>
          <select ng-init="postData.subcategory = postData.subcategory || subcategories[0].name" ng-model="postData.subcategory" class="no-decoration">
            <option ng-repeat="subcategory in subcategories" value="{{subcategory.value}}">{{subcategory.name}}</option>
          </select>
        </label>
        <label class="item item-input">
          <span class="input-label">Title</span>
          <input type="text" ng-model="postData.title">
        </label>
        <label class="item item-input">
          <span class="input-label">Your post</span>
          <textarea rows="15" ng-model="postData.content"></textarea>
        </label>
      </div>

      <div class="button-media-container">
        <button type="button" class="button button-positive button-media" ng-click="loadMedia()">Attach media</button>
        <button type="button" class="button button-positive button-media" ng-click="addLink()">Add link</button>
      </div>

      <div ng-repeat="thumbnail in thumbnails" class="button-media-container">
        <img ng-src="{{pathForImage(thumbnail)}}" class="thumbnail button-media" style="width: 100px; height: 100px;">
        <div class="button-media">
          <button type="button" class="button-media-delete" ng-click="deleteMedia($index)">
            Delete media
          </button>
        </div>
      </div>
      <div ng-repeat="link in links" class="button-media-container">
        <p class="button-media">{{link}}</p>
        <div class="button-media">
          <button type="button" class="button-link-delete" ng-click="deleteLink($index)">
            Delete link
          </button>
        </div>
      </div>

      <button class="button button-block button-positive" type="submit">Post</button>
    </form>

  </ion-content>
</ion-view>
